/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 3, 2021, 11:53:19 AM
    Author     : Suneth Senanayake
*/


.error-msg{
    color: red;
}

.table-button{
    display: inline-block !important;
    margin: 4px !important;
}

.td-action{
    width:20%;
    text-align: center;
}

.star{
    color:red;
}

.user_name{
    color:#23527c;
}

.page-wroper{
    padding: 0px 10px 35px 10px;
}

.navbar{
    margin-bottom: 0px;
}

.page-header {
    margin: 20px 0px;
    text-align: center;
}

.panel-default>.panel-heading{
    background-image: linear-gradient(to bottom,#d9edf7 0,#c4e3f3 100%);
}

h2{
    color: #5a536d;
    text-align: center;
    margin: 20px 0px;
}

