/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 3, 2021, 11:53:19 AM
    Author     : Suneth Senanayake
*/


.error-msg{
    color: red;
}

.table-button{
    display: inline-block !important;
    margin: 4px !important;
}

.td-action{
    width:20%;
    text-align: center;
}

.star{
    color:red;
}